{{ define "main" }}

<!-- checking blog -->
{{ if (eq .Section "news")}}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <img src="{{ .Params.image | absURL }}" alt="{{ .Title }}" class="img-fluid w-100 rounded mb-4">
        <h2 class="mb-4">{{ .Title }}</h2>
        <div class="content">{{.Content}}</div>
        
        <!-- comments -->
        {{ if site.DisqusShortname }}
        <div class="mt-5">
          {{ template "_internal/disqus.html" . }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- regular page -->
{{ if or (or (eq .Section "docs") (eq .Section "ref")) (or (eq .Section "language") )}}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        {{ $t := .CurrentSection.Pages }}
        {{ range $t }}
          <p style="margin-bottom: 5px"><a href="{{ .Permalink }}">{{ .Title }}</a></p>
        {{ end }}
      </div>
      <div class="col-lg-9">
        <!-- {{ partial "page-header.html" . }} -->
        <div class="content">{{ .Content }}</div>
      </div>
    </div>  
  </div>
</section>
{{ else }}

{{ partial "page-header.html" . }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <!-- {{ partial "page-header.html" . }} -->
        <div class="content">{{ .Content }}</div>
      </div>
      <div class="col-md-2"></div>
    </div>  
  </div>
</section>

{{ end }}


{{ end }}